app-toast {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  background: green;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 1rem;
  z-index: 1001;
  color: #fff;
  margin-top: 1rem;
  align-items: center;
}

app-toast > *:first-child {
  flex-grow: 1;
}

.modal-enter {
  animation: fadein 0.3s;
}

.modal-exit {
  animation: fadeout 0.2s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
